h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

h1 {
  color: white;
  font-size: 6rem;
  filter: drop-shadow(0px 0px 1px black);
}

i {
  text-transform: uppercase;
}
hr {
  border-bottom: black;
}

.box {
  border-radius: 15px;
  background: white;
  width: 300px;
  float: left;
}

h2 {
  font-size: 3.5rem;
}

p,
ul,
ol {
  font-family: "Space Mono", monospace;
}

#column1,
#column2,
#column3 {
  background-color: #a1edcc;
  display: block;
}
